<h1>
    <span style="color:red"> Next city: </font size>
    </span> &nbsp; {{name}}</h1>
<p>
    <span style="color:red">Address:</span> &nbsp; {{location.address}}</p>

<div id="map"></div> {{!-- Aquí es donde se dibuja el mapa --}}

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="crossorigin="anonymous"></script>

<script>
   let center = {
       lat:{{location.coordinates.[1]}},
       lng:{{location.coordinates.[0]}}
   };
   let title = '{{name}}'

   const map = new google.maps.Map(
       document.getElementById('map'),
       {
           center,
           zoom:15
       }
   )
   const marker = new google.maps.Marker({
       map,
       position:center,
       title,
       animation: google.maps.Animation.BOUNCE
   })
</script>
