<div class="ui raised inverted very padded text container segment">
    <h1>
        <span> Next city:</span> 
        &nbsp; {{name}}
    </h1>
    <p>
        <span>Address:</span> 
        &nbsp; {{location.address}}
    </p>
</div>
<div id="map"></div> {{!-- Aquí es donde se dibuja el mapa --}}

<script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCJAsXtHWBQnT38jSoVFTZ3QwqvaCrn4RE'></script>

<script>
   let center = {
       lat:{{location.coordinates.[1]}},
       lng:{{location.coordinates.[0]}}
   };
   let title = '{{name}}'

   const map = new google.maps.Map(
       document.getElementById('map'),
       {
           center,
           zoom:15
       }
   )
   const marker = new google.maps.Marker({
       map,
       position:center,
       title,
       animation: google.maps.Animation.BOUNCE
   })
</script>
