<h1>
    <span style="color:red"> Next city: </font size>
    </span> &nbsp; {{name}}</h1>
<p>
    <span style="color:red">Address:</span> &nbsp; {{location.address}}</p>

<div id="map"></div> {{!-- Aquí es donde se dibuja el mapa --}}

<script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCJAsXtHWBQnT38jSoVFTZ3QwqvaCrn4RE'></script>

<script>
   let center = {
       lat:{{location.coordinates.[1]}},
       lng:{{location.coordinates.[0]}}
   };
   let title = '{{name}}'

   const map = new google.maps.Map(
       document.getElementById('map'),
       {
           center,
           zoom:15
       }
   )
   const marker = new google.maps.Marker({
       map,
       position:center,
       title,
       animation: google.maps.Animation.BOUNCE
   })
</script>
