<div class="ui link cards">
  {{#if manager}}

  {{#each photos as |photo|}}
    <div class="card">
      <div  class="image">
        <img src="{{photo.url}}">
      </div>
      <div class="content">
        <div class="header">{{photo.title}}</div>
      </div>
      <div class="extra content">
          <button class="ui red medium basic button" type='submit' id="delete" data-id="{{photo._id}}">Delete</button>
      </div>
    </div>
  {{/each}}

  {{else}}

    {{#each photos as |photo|}}
     
    <div class="card">
      <div  class="image">
        <img src="{{photo.url}}">
      </div>
      <div class="content">
        <div class="header">{{photo.title}}</div>
      </div>
    </div>
  {{/each}}

  {{/if}}


</div>
{{#if manager}}
  <a href="/gallery/new-photo"><button class="ui pink big basic button" type='submit'>Add new photo</button></a>
{{/if}}

<script>
  document.getElementById("delete").onclick = function(e){
    let id = e.target.dataset.id;
    console.log(id);
    fetch(`/gallery/delete/${id}`,{
      method: 'DELETE'
    })
    .then(r => r.json())
    .then(response =>{
      console.log("borrado mami",response);
      window.location.reload();
    })
  }
</script>